# Order from https://github.com/devosoft/avida/wiki/Instruction-Set

NopA     # a
NopB     # b
NopC     # c
IfNEqu   # d
IfLess   # e
Pop      # f
Push     # g
SwapStk  # h
Swap     # i
ShiftR   # j
ShiftL   # k
Inc      # l
Dec      # m
Add      # n
Sub      # o
Nand     # p
IO       # q
HAlloc   # r
HDivide  # s
HCopy    # t
HSearch  # u
MovHead  # v
JumpHead # w
GetHead  # x
IfLabel  # y
SetFlow  # z
